<section class="post-card p4">
 

  <a class="nav-link" href="/postview/{{id}}">

<div class="card-body" class="col-md-4" id="container">

        <h2 id='title'>{{title}}</h2>
        <div id="content">
      <h5>{{content}}</h5>
      </div>
        <p id="userTag">{{userData.name}}</p>  
    
    
</div>
 </a>
</section>