<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/styles.css">
  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/cold.css">
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Tech Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
      </li>
      {{#if logged_in}}
          
      <li class="nav-item">
        <a class="nav-link" href="/trips/{{userId}}/CAD">Trips</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/postcreate">Create a post</a>
      </li>
      
  
     
    <button id="logout" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
    {{else}}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
    {{/if}}
     
  </div>
</nav>


<main>
  {{{ body }}}
</main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}  


</body>

</html>