

<div >
  <div class="container py-5">
    <header class="text-center text-white py-5">
<div id="main-post">
  <h1>{{post.title}}</h1>
  <h5>{{post.content}}</h5>
</div>
      
    </header>
  </div>

{{!-- show only if user logged in is the owner of the post --}}

{{#if post.isOwner  }}
<button id='delBtn' data-id="{{post.id}}">Delete</button><button id="updateBtn">Update</button>
{{/if}}

  <section class="container">
  
  <section class="flex-row justify-center">    
    {{#each comments as |comment|}}
    {{> comments}}
    {{/each}}
  </section>



  <form class="form new-comment-form">

    <div class="form-group m-2">
      <label for="new-comment"></label>
      <input class="form-input" type="text" id="new-comment"/>
    </div>

    <button type="submit" class="btn btn-light m-2" id="commentBtn">Add Comment</button>  
      
</form>

  <div>
    <p>
    </p>
  </div>
</section>
</div>
<script src='/js/postview.js'></script>