@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');


body {
    font-family:'Castoro', serif;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* == */

  @import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');


body{
    background-color: antiquewhite;
}



*{
    margin: 0;
    padding: 0;
    font-family: 'STIX Two Math', serif;
    
  }
  main{
    height: 100vh;
   background-image: linear-gradient(#353535,#D9D9D9,#FFFFFF, #3C6E71,);
  }

   .card{
   width: 14rem;
   height: 28rem;
   color: rgb(44, 32, 15);
   /* background-image: linear-gradient(
     #e2eafc,
     #edf2fb, 0.4   
     ); */
     background-color: rgba(196, 187, 223, 0.66);
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2rem;
   border-radius: .3rem;   
 }

 .total{
   margin-bottom: 0;
   padding-bottom: 0;
   font-weight: bolder;
 }

.user-name{
  color: #1b212b;
}


.exbtn {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.exbtn {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
  font-family: 'STIX Two Math', serif;
	color: rgba(255,255,255,0.5);
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 1s;
  padding: 0.3rem;
}

.exbtn:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.exbtn:focus {
	outline: none;
}

.dropdwn {
	width: 5rem;
	height: 50px;
	cursor: pointer;
	border: none;
  font-family: 'STIX Two Math', serif;
	color:rgba(80, 71, 71, 0.548);
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 1s;
  padding: 0.3rem;
}

.dropdwn:hover {
	background-position: left;
	color: black;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.dropdwn:focus {
	outline: none;
}

.dest-card{
  width: 14rem;
  height: 15rem;
  color: rgb(44, 32, 15);
  align-items: center;
  justify-content: center;
    background-color: rgba(196, 178, 129, 0.66);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: .3rem;   
  background-size: cover;  
}

#location{
  color: #33707a;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  background: coral;
}

.clickme{
margin-bottom: 5px;
color: aqua;
text-align: center;
}


.comment-card{
  width: 60rem;
  height: 9rem;
  color: rgb(44, 32, 15);
  align-items: center;
  justify-content: center;
    background-color: rgba(196, 178, 129, 0.66);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: .3rem;   
  background-size: cover;  
}

#user.tag{
  position: absolute;
  margin-bottom: 0%;
  margin-right: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
}


/* ====buttons==== */

#commentBtn{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#commentBtn:hover{
  background:#fff;
  color:#1AAB8A;
}
#commentBtn:before,#commentBtn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#commentBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#commentBtn:hover:before,#commentBtn:hover:after{
  width:100%;
  transition:800ms ease all;
}


/* ==========LOGIN FORM ============ */

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	background:url(https://news.cgtn.com/news/2020-11-02/Analysis-China-is-betting-on-science-and-tech-like-never-before-V68V871ula/img/871ca9ce8b9941088260b6ed4ced4eeb/871ca9ce8b9941088260b6ed4ced4eeb.jpeg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/* ======LOGIN FORM END====================== */
/* ====== post title and name======== */

#titleBar{
  display: flex;
  justify-content: space-between;
}

